<%# { "useBluePrint": true, "renameTo": "`/${generator.entityInstance}/detailsWidget/src/components/${generator.entityClass}Details.js`" } -%>
import React from 'react';
import i18next from 'i18next';
import Box from '@material-ui/core/Box';

import <%= entityInstance %>Type from 'components/__types__/<%= entityInstance %>';
import <%= entityClass %>FieldTable from 'components/<%= entityFileName %>-field-table/<%= entityClass %>FieldTable';

<%_ const ComponentName = `${entityClass}Details`; _%>
const <%= ComponentName %> = ({ <%= entityInstance %> }) => {
  return (
    <Box>
      <h3>
        {i18next.t('common.widgetName', {
          widgetNamePlaceholder: '<%= entityClassHumanized %>',
        })}
      </h3>
      <<%= entityClass %>FieldTable <%= entityInstance %>={<%= entityInstance %>} />
    </Box>
  );
};

<%= ComponentName %>.propTypes = {
  <%= entityInstance %>: <%= entityInstance %>Type,
};

<%= ComponentName %>.defaultProps = {
  <%= entityInstance %>: {},
};

export default <%= ComponentName %>;
