import React from 'react';
import PropTypes from 'prop-types';
import { withTranslation } from 'react-i18next';
import Table from '@material-ui/core/Table';
import TableBody from '@material-ui/core/TableBody';
import TableCell from '@material-ui/core/TableCell';
import TableHead from '@material-ui/core/TableHead';
import TableRow from '@material-ui/core/TableRow';

import <%= entityInstance %>Type from 'components/__types__/<%= entityInstance %>';

const <%= entityClass %>FieldTable = ({ t, <%= entityInstance %> }) => {
  const translationKeyPrefix = `entities.<%= entityInstance %>.`;

  // TODO: ADD DYNAMIC RENDERING
  return (
    <Table>
      <TableHead>
        <TableRow>
          <TableCell>{t('common.name')}</TableCell>
          <TableCell>{t('common.value')}</TableCell>
        </TableRow>
      </TableHead>
      <TableBody>
        <TableRow>
          <TableCell>
            <span>{t(`${translationKeyPrefix}id`)}</span>
          </TableCell>
          <TableCell>
            <span>{<%= entityInstance %>.id}</span>
          </TableCell>
        </TableRow>
        <TableRow>
          <TableCell>
            <span>{t(`${translationKeyPrefix}name`)}</span>
          </TableCell>
          <TableCell>
            <span>{<%= entityInstance %>.name}</span>
          </TableCell>
        </TableRow>
        <TableRow>
          <TableCell>
            <span>{t(`${translationKeyPrefix}summary`)}</span>
          </TableCell>
          <TableCell>
            <span>{<%= entityInstance %>.summary}</span>
          </TableCell>
        </TableRow>
        <TableRow>
          <TableCell>
            <span>{t(`${translationKeyPrefix}start`)}</span>
          </TableCell>
          <TableCell>
            <span>{<%= entityInstance %>.start}</span>
          </TableCell>
        </TableRow>
        <TableRow>
          <TableCell>
            <span>{t(`${translationKeyPrefix}end`)}</span>
          </TableCell>
          <TableCell>
            <span>{<%= entityInstance %>.end}</span>
          </TableCell>
        </TableRow>
      </TableBody>
    </Table>
  );
};

<%= entityClass %>FieldTable.propTypes = {
  <%= entityInstance %>: <%= entityInstance %>Type,
  t: PropTypes.func.isRequired,
};

<%= entityClass %>FieldTable.defaultProps = {
  <%= entityInstance %>: [],
};

export default withTranslation()(<%= entityClass %>FieldTable);
